# Jupyter NB checkpoints
.ipynb_checkpoints

# pycache
__pycache__

# data
.data/

# test NB
test_sth.ipynb

# data on which tokenizer is trained
all_sentences.npy

transformers.egg-info

# log files
*.log

# output dir
outputs/

# W&B
wandb/

# VSCode
.vscode/

# tensor files
*.pt

# meta data for Shakespeare dataset
meta.json
